{%- comment -%} new RV section per theme update  {%- endcomment -%}

<section class="recently-viewed-section {{ css_class }}">
  {% render 'heading',
  	title: {{section_title}},
  	heading_tag: 'h4',
  	context: 'recently-viewed',
  	text_alignment: 'center',
  %}
  
  <div id="recently-viewed-products" class="collection- clearfix-">
    <div id="rvp-slider" class="rvp-slider">
    </div>
  </div>
</section>

<script type="text/javascript">
  $(document).ready(function() {
  	var products = []
    var currentHandle = '{{handle}}'
    var recentlyVisited = JSON.parse(window.localStorage.getItem("recentlyVisited"))
    recentlyVisited = recentlyVisited.filter(rv => rv.available !== false);
    var count = 0;
    
    for (var i = 0; i < recentlyVisited.length; i++) {
      var currentLength = recentlyVisited.length - 1 - i
      
	  var currentObject = recentlyVisited[currentLength];
      currentObject.productPriceMin = currentObject.productPriceMin.replace(' USD', '');
      currentObject.productPriceMax = currentObject.productPriceMax.replace(' USD', '');
      currentObject.productCompareAtPriceFormatted = currentObject.productCompareAtPriceFormatted.replace(' USD', '');
      console.log({currentObject})
      
      if (currentObject.handle !== currentHandle) {
        //console.log("float..", parseFloat(currentObject.productPriceMinFloat))
        //console.log("currentObject..", currentObject)
        var fromText = '';
        if (currentObject.productPriceVaires === 'true') {
          var fromText = 'from';
        } else  {
          var fromText = '';
        }
        
        if (currentObject.starRating <= 5 && currentObject.starRating > 4.67) {
          var rvStars = ` <span>{% render 'rating-stars', value: 5, scale_max: 5, %} </span>`
        } else if (currentObject.starRating <= 4.67 && currentObject.starRating > 4.32) {
          var rvStars = ` <span>{% render 'rating-stars', value: 4.5, scale_max: 5, %} </span>`
        } else if (currentObject.starRating <= 4.32 && currentObject.starRating > 3.67) {
          var rvStars = ` <span>{% render 'rating-stars', value: 4, scale_max: 5, %} </span>`
        } else if (currentObject.starRating <= 3.67 && currentObject.starRating > 3.32) {
          var rvStars = ` <span>{% render 'rating-stars', value: 3.5, scale_max: 5, %} </span>`
        } else if (currentObject.starRating <= 3.32 && currentObject.starRating > 2.67) {
          var rvStars = ` <span>{% render 'rating-stars', value: 3, scale_max: 5, %} </span>`
        } else if (currentObject.starRating <= 2.67 && currentObject.starRating > 2.32) {
          var rvStars = ` <span>{% render 'rating-stars', value: 2.5, scale_max: 5, %} </span>`
        } else if (currentObject.starRating <= 2.32 && currentObject.starRating > 1.67) {
          var rvStars = ` <span>{% render 'rating-stars', value: 2, scale_max: 5, %} </span>`
        } else if (currentObject.starRating <= 1.67 && currentObject.starRating > 0) {
          var rvStars = ` <span>{% render 'rating-stars', value: 1, scale_max: 5, %} </span>`
        } else if (currentObject.starRating === 0) {
          var rvStars = `<span></span>`
        } 

        if (typeof currentObject.imageUrl2 === 'undefined') {
          currentObject.imageUrl2 = currentObject.imageUrl;
        }


        if (currentObject.productPriceMin.startsWith("$0.00")) {
            let displayAmount = currentObject.productPriceMin;
  //             if(displayAmount.startsWith("$0.00")) {
  //               displayAmount = 'Free';
  //             }
            displayAmount = 'Free';
            var price = `
              <span class="product-thumbnail__price price">
                <span class="money">${displayAmount}</span>
              </span>`
        } else if (currentObject.productCompareAtPrice > currentObject.productPrice) {
            var price = `
              <span class="product-thumbnail__price price">
                <span class="money sale"> 
                  <small><em>${fromText}</em></small>
                  ${currentObject.productPriceMin}
                </span>
                <span class="money was-price compare-at-price">${currentObject.productCompareAtPriceFormatted}</span>
              </span>
              <div class="product-thumbnail__sale-badge">{{ 'collections.general.sale' | t }}</div>`
        } else {
            var price = `
              <span class="product-thumbnail__price price">
                <span class="money"> 
                  <small><em>${fromText}</em></small>
                  ${currentObject.productPriceMin}
                </span>
              </span>`
        } 
        
        $("#rvp-slider").append(`
          <div class="rvp-item">
            <div class="has-secondary-image-swap">
              <a class="rvp-item__link" href="${currentObject.productUrl}">
                <div class="product-image__wrapper">
                  <div class="image__container product__imageContainer">
                    <div class="image-element__wrap  ">
                    <img class="rvp-item__img lazyload" src="${currentObject.imageUrl}" />
                    <img class="rvp-item__img lazyload secondary swap--visible" src="${currentObject.imageUrl2}" />
                  </div>
                </div>
                <p class="rvp-item__title">${currentObject.title}</p> 
              </a>
              <span class="stars">` + rvStars + `</span>
            </div>
          </div>` + price + `
        `)
      }

    }
    
    if (recentlyVisited.length > 1 || (recentlyVisited.length === 1 && recentlyVisited[0].handle !== currentHandle)) {
      $(document).find("#rvp-slider").hide()
      setTimeout(function() {
        $(document).find("#rvp-slider").show()
        initCarousel();
      }, 500);
    } else {
      $(".recently-viewed-section").hide()
    }

    if ( recentlyVisited.length === 3 ) {
      var wrap = false;
      var group = true;
    } else {
      var wrap = true;
      var group = false;
    }
    
    function initCarousel() {
      $('#rvp-slider').flickity({
        // options
          cellAlign: 'center',  // need center for offset. was left in old version
          freeScrollFriction: 0.075, // friction when free-scrolling
          friction: 0.28, // speed and motion of the slider.
          //namespaceJQueryEvents: true,
          //percentPosition: true,
          //resize: true, // or snap the slider into place
          resize: false,
          freeScroll: true,
          selectedAttraction: 0.025, //speed and motion of the slider.
          //setGallerySize: true,
          //wrapAround: true, // need true since offset starts in center
          wrapAround: wrap, // depends on # of cells
          imagesLoaded: true, // loads 1st cell 100% when only 1 cell

        //contain: true,  // contain & groupCells as true was preventing offset
        contain: false,
        pageDots: false,
        //groupCells: true, // contain & groupCells as true was preventing offset
        groupCells: group,  //needs to be false when other than 2 cells. For 2 cells it won't be offset though
        arrowShape: "M64.44,83.92a2,2,0,0,0-.47-.78L30.83,50,64,16.86a2,2,0,0,0,.47-.78l9.81-9.66a2,2,0,1,0-2.81-2.84l-45.69,45a2,2,0,0,0,0,2.84l45.69,45a2,2,0,1,0,2.81-2.84Z"
      });
        // Resize flickity when the slider is settled.  //snaps slider into place
        //$('#rvp-slider').on('settle.flickity', () => $('#rvp-slider').flickity('resize'));

        //$(window).on('load', () => $('#rvp-slider').flickity('resize'));
    }  
  })
</script>

<style>
  .recently-viewed-section {
    padding: 40px 5px 20px;
  }
  @media screen and (max-width: 768px) {
    .recently-viewed-section {
      padding: 40px 10px 20px;
      /*margin: 40px 10px;*/
    }
  }
  
  .rvp-item {
    /*width: 50%;*/
    width: calc(50% - 20px);
    padding: 0px 10px;
    text-align: center;
    margin: 0px 10px;
  }
  


    @media screen and (min-width: 789px) {
    .rvp-item {
      width: calc(25% - 20px);
      padding: 0px 10px;
      margin: 0px 10px;
    }
  }
  
  .rvp-item__link {
    display: block;
  }

  .rvp-item__title {
    margin-top: 10px;
  }
  
  .rvp-item__img {
    display: block;
    width: 100%;
  }
  
  .product-thumbnail__sale-badge {
      position: absolute;
      top: 5px;
      right: 25px;
      width: 58px;
      height: 58px;
      background: #dfbe2a;
      line-height: 58px;
      border-radius: 50%;
      font-size: .7rem;
      display: none;
    }

</style>