{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
  <div class="section-marquee">
 

<div id='marquee' class="bg-black c-white x oh marquee submit df aic pv10 m:pv20   js-scroll-reveal" style="white-space:nowrap;" data-component="marquee">
    <div class="marquee-text lh105 dir-rightLeft f24 m:f48 mono marquee-margin--medium" style="animation-duration: 33s">
        <span class="marquee-block">
    A new tattoo for a brand new you.
    
    <a class="btn  cta-ref tc   bw1 bs-solid bg- c-white ass" href="/how-it-works" >Learn more now.</a>
  
</span>
        <span class="marquee-block">
    A new tattoo for a brand new you.

    <a class="btn  cta-ref tc   bw1 bs-solid bg- c-white ass" href="/how-it-works" >Learn more now.</a>

</span>
        <span class="marquee-block">
    A new tattoo for a brand new you.
    

    <a class="btn  cta-ref tc   bw1 bs-solid bg- c-white ass" href="/how-it-works" >Learn more now.</a>

</span>
        <span class="marquee-block">
    A new tattoo for a brand new you.
    

    <a class="btn  cta-ref tc   bw1 bs-solid bg- c-white ass" href="/how-it-works" >Learn more now.</a>
  
</span>
        <span class="marquee-block">
    A new tattoo for a brand new you.

  
    <a class="btn  cta-ref tc   bw1 bs-solid bg- c-white ass" href="/how-it-works" >Learn more now.</a>
  
</span>
        <span class="marquee-block">
    A new tattoo for a brand new you.

  
    <a class="btn  cta-ref tc   bw1 bs-solid bg- c-white ass" href="/how-it-works" >Learn more now.</a>
  
</span>
        <span class="marquee-block">
    A new tattoo for a brand new you.
    
    <a class="btn  cta-ref tc   bw1 bs-solid bg- c-white ass" href="/how-it-works" >Learn more now.</a>

</span>
        <span class="marquee-block">
    A new tattoo for a brand new you.
   
     <a class="btn  cta-ref tc   bw1 bs-solid bg- c-white ass" href="/how-it-works" >Learn more now.</a>
 
</span>
        <span class="marquee-block">
    A new tattoo for a brand new you.
    
    <a class="btn  cta-ref tc   bw1 bs-solid bg- c-white ass" href="/how-it-works" >Learn more now.</a>
  
</span>
        <span class="marquee-block">
    A new tattoo for a brand new you.
    
    <a class="btn  cta-ref tc   bw1 bs-solid bg- c-white ass" href="/how-it-works" >Learn more now.</a>

</span>
    </div>
</div>

  </div>

  <div class="section-messaging">
    
<div id='press-copy' class="bg-white c-oblack f24 m:f48 m:light tc pt10 pb10 ph20 m:ph40 m:pt20 m:pb20 grid pt50 m:pt80 pb10 m:pb20 js-scroll-reveal js-scroll-reveal-text">
{% endstylesheet %}

{% javascript %}
{% endjavascript %}